/* Buttons styles start */
.btn {
  display: inline-block;
  padding: 1rem;
  margin: 0;
  margin-left: 1rem;
  text-decoration: none;
  font-size: 0.8rem;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  @include bp(768) {
    margin-left: 1.5rem;
    font-size: 0.9rem;
    padding: 1rem 2rem;
  }
  @include bp(1200) {
    font-size: 1rem;
  }
  &:first-child {
    margin-left: 0;
  }
  &:hover {
    background: #fff;
  }
  &:focus {
    outline: 1px solid #fff;
  }
}

/* .btn:hover,

.btn:focus {
  outline: 2px solid #fff;
}

.btn:active {
  transform: scale(0.99);
} */
/* Button styles end */

.btn__solid--purple {
  @extend .btn;
  background-color: $darkPurple;
  color: #fff;
  border: 1px solid $darkPurple;
  &:hover {
    background-color: darken($darkPurple, 10%);
  }
}
.btn__solid--green {
  @extend .btn;
  background-color: $brightGreen;
  color: $black;
  border: 1px solid $brightGreen;
}

.btn__keyline {
  @extend .btn;
  color: #fff;
  background: none;
  border: 1px solid #fff;
  &:hover {
    border: 1px solid $brightGreen;
    background: $brightGreen;
    color: $black;
  }
}
.btn__keyline--purple {
  @extend .btn;
  color: $darkPurple;
  background: none;
  border: 1px solid $darkPurple;
  &:hover {
    border: 1px solid $darkPurple;
    background: $darkPurple;
    color: #fff;
  }
}
.btn__keyline--green {
  @extend .btn__keyline;
  color: $brightGreen;
  border: 1px solid $brightGreen;
  &:hover {
    border: 1px solid $brightGreen;
    background: $brightGreen;
    color: $black;
  }
}
