.page-wrapper {
  position: relative;
  width: 100vw;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.section-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: $lightGrey;
}

.content-block {
  position: relative;
  width: 100%;
  min-height: 50vh;
  padding: 0 10%;
  display: flex;
  align-items: center;
}

.btn-container {
  position: relative;
  display: flex;
  margin: 24px 0;
  @include bp(1200) {
    margin: 32px 0;
  }
}

.text-block {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  & > * {
    margin: 0.67rem 0;
  }
  @include bp(1023) {
    width: 50%;
  }
  @include bp(1200) {
    width: 40%;
  }
}

.summary {
  width: 100%;
  @include bp(1200) {
    max-width: 44rem;
  }
  p {
    margin-bottom: 0;
    margin-top: 0.75rem;
    &:first-child {
      margin-top: 0;
    }
  }
}
