html,
body {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $black;
  font-size: 16px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-weight: 700;
  font-size: 8vw;
  line-height: 1.2;
  @include bp(768) {
    font-size: 5vw;
  }
  @include bp(1024) {
    font-size: 2rem;
  }
  @include bp(1200) {
    font-size: 2.6rem;
  }
  @include bp(1400) {
    font-size: 2.8rem;
  }
  @include bp(1600) {
    font-size: 3rem;
  }
  @include bp(1920) {
    font-size: 3vw;
  }
  strong {
    font-weight: 700;
  }
  &.hero__headline {
    margin: 0.75rem 0 0 0;
    font-size: 9vw;
    @include bp(768) {
      font-size: 7vw;
    }
    @include bp(1024) {
      font-size: 5vw;
      margin: 0.75rem 0 1.2rem 0;
    }
    @include bp(1200) {
      font-size: 3.2vw;
      margin: 0.75rem 0 2rem 0;
    }
    @include bp(1400) {
      font-size: 3.6vw;
      margin: 0.75rem 0 2rem 0;
    }
    @include bp(1600) {
      // font-size: 4rem;
    }
  }
  &.block-heading--centred {
    padding: 0 2rem;
    text-align: center;
    @include bp(1200) {
      padding: 0;
    }
  }
}
@mixin centred-title-margin {
  margin-bottom: 2rem;
  @include bp(768) {
    margin-bottom: 3rem;
  }
  @include bp(1200) {
    margin-bottom: 4rem;
  }
}

h2 {
  font-size: 1.2rem;
  color: $elwoodGreen;
  &.section__caption {
    margin: 0;
  }
  &.usp__title {
    font-family: brandon-grotesque, sans-serif;
    text-transform: none;
    font-size: 1.1rem;
    letter-spacing: 0.8px;
    margin: 0.5rem 0;
    line-height: 1.4;
    @include bp(768) {
      font-size: 1.2rem;
    }
    @include bp(1200) {
      font-size: 1.3rem;
    }
    @include bp(1400) {
      font-size: 1.4rem;
    }
    @include bp(1600) {
      font-size: 1.6rem;
    }
  }
}

p,
ul,
li {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1rem;
  text-decoration: none;
  list-style: none;
  text-indent: 0;
  padding: 0;
  @include bp(768) {
    font-size: 1.1rem;
  }
  @include bp(1200) {
    font-size: 1.2rem;
  }

  @include bp(1400) {
    font-size: 1.3rem;
    line-height: 1.7;
  }
  @include bp(1600) {
    font-size: 1.4rem;
  }
  @include bp(1800) {
    font-size: 1.5rem;
  }
  strong {
    font-weight: 700;
  }
}

button,
.submit-button {
  font-family: proxima-nova-condensed, sans-serif;
  font-weight: 600;
  letter-spacing: 0.8px;
  // text-transform: uppercase;
  @include bp(1200) {
    // letter-spacing: 3px;
  }
  @include bp(1400) {
    // letter-spacing: 4px;
  }
}
a.cta-link {
  position: relative;
  font-family: brandon-grotesque, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 28px;
  color: $darkPurple;
  display: inline-block;
  margin: 2rem 0 0 0;
  // padding: 0 4px;
  flex-grow: 0;
  cursor: pointer;
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.3s ease, background-color 0.3s $easing,
    color 0.3s $easing;
  @include bp(1400) {
    font-size: 1.2rem;
  }

  @include bp(1600) {
    font-size: 1.4rem;
  }

  &:before {
    content: "";
    position: absolute;
    display: inline-block;
    bottom: -2px;
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background: $darkPurple;
  }
  &:after {
    content: "";
    position: absolute;
    display: inline-block;
    bottom: 0;
    margin-left: 6px;
    width: 24px;
    height: 24px;
    background: url("~assets/cta_arrow_purple.svg") no-repeat center / 100%;
    transition: transform 0.8s $easing;
  }
  &:hover {
    // background-color: tint($midPurple, 80%);
    color: black;
    &:after {
      transform: translateX(8px);
    }
  }
  &.centred {
    margin-left: -30px;
  }
}
a {
  color: $darkPurple;
  transition: color 0.3s ease;
  &:hover,
  &:visited {
    color: black;
  }
}
a.cta-link--green {
  @extend.cta-link;
  color: $elwoodGreen;
  &:hover {
    background: none;
    color: #fff;
  }
  &:before {
    background: $elwoodGreen;
  }
  &:after {
    background-image: url("~assets/cta_arrow.svg");
  }
}

form {
  font-family: Proxima Nova, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
