.clients__section-container {
  @extend .section-container;
}
.clients__content-block {
  @extend .content-block;
  min-height: 100vh;
  flex-direction: column;
  background: linear-gradient(180deg, $lightGrey 80%, #fff 95%);
  align-items: center;
  h1 {
    color: $darkPurple;
  }
  @include bp(1200) {
    padding: 12vh 0;
  }
}

.clients__title {
  h1 {
    @include revealStart();
  }
  &.is-inview {
    h1 {
      @include revealTo();
    }
  }
}
.clients__carousel {
  position: relative;
  margin-top: 80px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 60vh;
  @include fadeIn();
}
.client__card {
  // position: absolute;
  background: #fff;
  box-shadow: 0px 0px 20px rgba(20, 54, 124, 0.08);
  border-radius: 8px;
  padding: 60px 80px;
  width: 100%;
  // height: 85%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.client__details,
.client__testimonial {
  display: flex;
  justify-content: space-between;
}

.client__details {
  margin-top: auto;
  align-items: center;
  padding-top: 3rem;
  p {
    font-family: Proxima Nova, sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    margin: 0;
    line-height: 1.4;
    &.client__name {
      color: $darkPurple;
      font-weight: 600;
    }
  }
}

.client__quote {
  flex: auto;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  p {
    font-family: Brandon-Grotesque;
    font-weight: 400;
    font-size: 1.5rem;
    max-width: 32rem;
    margin-top: 1.4rem;
    &:first-of-type {
      margin-top: 0;
    }
  }
}
.double-quotes {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0 0 1.4rem 0;
  background: url("~/assets/double_quotes.svg") no-repeat center/contain;
  @include bp(1400) {
    width: 60px;
    height: 60px;
  }
}

.client__image {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  flex-shrink: 0;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  img {
    max-width: 100%;
  }
  @include bp(1200) {
    width: 120px;
    height: 120px;
  }
  @include bp(1600) {
    width: 140px;
    height: 140px;
  }
  @include bp(1800) {
    width: 160px;
    height: 160px;
  }
}

.client__logo {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 50px;
  overflow: hidden;
  flex-shrink: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #fff;
  img {
    max-width: 100%;
  }
  svg {
    background-color: #fff;
  }
}

.clients__carousel-tabs {
  display: flex;
  li {
    display: inline-block;
    width: 66px;
    height: 10px;
    border-radius: 5px;
    background: #fff;
    border: 1px solid $darkPurple;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-left: 8px;
    cursor: pointer;
    transform-origin: center;
    &:first-child {
      margin-left: 0;
    }
    &.active {
      background: $darkPurple;
    }
    &:hover {
      transform: scale(0.9);
    }
  }
}
