.usp__section-container {
  @extend .section-container;
  @include dark-grad();
}

.usp__content-block {
  @extend .content-block;
  background: none;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @include bp(1200) {
    padding: 12vh 0;
  }
  /* @include bp(1600) {
    padding: 120px 0;
  } */
  h1 {
    strong {
      color: $brightGreen;
    }
  }
}

.usp__text-content {
  display: flex;
  flex-direction: column;
}

.usp__headline {
  @include fadeIn();
}

.usp__icon {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 0 8px 0;
  @include fadeIn();
}

.usp__bullet-points {
  position: relative;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  @include bp(1024) {
    width: 70%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
}
.usp__bullet {
  opacity: 0;
  p {
    font-size: 1rem;
  }
  @include bp(1024) {
    width: 26%;
    margin: 2%;
  }
}

.usp__cta {
  @include fadeIn();
}
