.graphics__container {
  @include abs100();
  display: flex;
  justify-content: center;
  align-items: center;
}
.graphics__dots-main {
  @include abs100();
  display: flex;
  flex-direction: column;
  align-items: center;
  ul {
    margin-top: 44px;
    display: flex;
    &:first-child {
      margin-top: 24px;
    }
    li {
      list-style: none;
      display: inline-block;
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background: rgba($brightGreen, 0.2);
      margin-left: 44px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.graphics__gradient--pink {
  position: absolute;
  display: inline-block;
  top: -15%;
  left: -15%;
  width: 40vw;
  height: 40vw;
  background: radial-gradient(
    56.29% 56.29% at 50% 50%,
    rgba(127, 26, 228, 0.4) 0%,
    rgba(24, 22, 113, 0) 90%
  );
  animation: gradient-fade 10s infinite alternate, 5s;
}

@keyframes gradient-fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
