// ==========================================================================
// Settings / Config / Colors
// ==========================================================================

// Palette
// =============================================================================
$white: #ffffff;
$black: #272727;
$lightGrey: #f7f9fd;
$brightGreen: #00ffb4;
$lightPurple: #ab95ff;
$midPurple: #7b7ff9;
$darkPurple: #4548d0;
$blueGrad: linear-gradient(
  72.74deg,
  #000000 -0.08%,
  #173174 42.02%,
  #084d52 99.12%
);

@mixin dark-grad() {
  background: $blueGrad;
  color: #fff;
}
